<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body> 
 	  <div class="container">
      <%= render 'layouts/header' %>
    	<%= yield %>
    </div>
  </body>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      auto:  true,
      adaptiveHeight: false
    });
  });
  </script>
</html>
